*{
    margin: 0px;
}
h1,h2,h3{
    color: aliceblue;
}
h2{
    font-size: 1.5em;
}
.main{
    position: relative;
    /* top: 8px;
    left: 18%;
    right: 19%; */
    width: 57%;
    height: 540px;
    /* box-sizing: border-box; */
    padding: 35px;
    border:1px solid rgba(255, 255, 255, 0.418);
    border-left:1px solid rgba(53, 41, 41, 0.233);
    border-right:1px solid rgba(53, 40, 40, 0.288);
    margin: 10px auto; 
    background-image: linear-gradient(200deg, rgba(255, 255, 255,0.15), rgba(255, 255, 255,0));
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 25px 32px 0 rgba(0, 0, 0, 0.37);
}
.contact{
    position: absolute;
    right: 23px;
    top: 15%;
    width: 30%;
    height: 400px;
    padding: 15px;
    border:none;
    margin: 2px;
    /* box-sizing: border-box; */
}
.personal{
    position: absolute;
    left: 5%;
    top: 16%;
    width: 50%;
    height:75%;
    padding: 10px;
}



 
.face{
    position: sticky;
    top: 82.1%;
    right: 100%;
    cursor: pointer;
}
    
.insta{
    position: sticky;
    top: 80.5%;
    left: 33%;
    cursor: pointer;
}
.linkd{
    position: sticky;
    top: 80.5%;
    left: 64%;
    cursor: pointer;
}
body{
    background-image: url("backimage.png");
}
h2{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f196db;
}

h3{
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.submit{
    background-color: #eb205dd2; /* Green */
    border: 1px solid #d3116bb9;
    color: white;
    padding: 9px 10px;
    margin: 8px 0px;
    text-align: center;
    text-decoration: rgb(30, 154, 158);
    display: flex;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 159;
    border-radius: 13%;
    cursor: pointer;
}
input[type=text],[type=email]{
  width: 36%;
  padding: 12px 19px;
  margin: 8px 3px;
  display: inline-flex;
  border-top: 2px solid #08f0dc75;
  border-bottom: 2px solid  #e8ec056e;
  border-left: 2px solid  #05e98a75;
  border-right: 2px solid #30f00a75;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 50;
  font-style: unset;
  font-size: 15px;
  background-image: linear-gradient(340deg, rgba(78, 33, 69, 0.603), #da2c57ee);
}
textarea{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top: 2px solid #08f0dc75;
  border-bottom: 2px solid  #e8ec056e;
  border-left: 2px solid  #05e98a75;
  border-right: 2px solid #30f00a75;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-style: unset;
  font-size: 16px;
  background-image: linear-gradient(340deg, rgba(78, 33, 69, 0.603), #da2c57ee);
}
input::placeholder,textarea{
    color: #080808e0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.logo{
    top: 0%;
    left: 1%;
    width: 15%;
    height: 13%;
    padding: 0px 0px;
    border-radius: 3%;
}

h1{
    font-size: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nasa{
    color: #ec497a;
}
.twoonetwo{
    color: #c4abcaef;
}

footer{
    color: rgb(94, 86, 86);
    position:relative;
    top: 100%;
    /* left: 20%;
    right: 19%; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: center;
}
.home{
    position: relative;
    margin: auto;
    background-color: #eb205dd2; /* Green */
    border-bottom: solid rgba(0, 0, 0, 0.37) 2px ;
    border-top: solid rgba(83, 3, 37, 0.37) 2px ;
    color: white;
    padding: 6px 9px;
    text-align: center;
    text-decoration: cadetblue;
    display: flex;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    border-radius: 16px;
    cursor: pointer;
}
.blog{
    position: relative;
    margin: auto;
    /* margin-left: 0%; */
    background-color: #eb205dd2;/* Green */
    border-bottom: solid rgba(0, 0, 0, 0.37) ;
    border-top: solid rgba(83, 3, 37, 0.37) ;
    color: white;
    padding: 6px 9px;
    text-align: center;
    text-decoration: cadetblue;
    display: flex;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    border-radius: 16px;
    cursor: pointer;
}
.about{
    position: relative;
    margin: auto;
    background-color:  #eb205dd2;/* Green */
    border-bottom: solid rgba(0, 0, 0, 0.37) ;
    border-top: solid rgba(83, 3, 37, 0.37) ;
    color: white;
    padding: 6px 9px;
    text-align: center;
    text-decoration: cadetblue;
    display: flex;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    border-radius: 16px;
    cursor: pointer;
}
/* .cont{
    position: absolute;
    right: 2%;
    margin-left: 12%;
    background-color: #eb205dd2;  
    border-bottom: solid rgba(0, 0, 0, 0.37) ;
    border-top: solid rgba(83, 3, 37, 0.37) ;  
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: cadetblue;
    display: flex;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    border-radius: 16px;
    cursor: pointer;
} */

.menubutton{
    display: flex;
    justify-content: space-between;
    /* width: 100%;
    border: darkblue solid 2px;
    margin: auto; */
}
.followus{
    position: absolute;
    right: 23px;
    top: 450px;
    bottom: auto;
    width: 30%;
    height: 400px;
    padding: 15px;
    border:none;
    margin: 2px;
    /* box-sizing: border-box; */
}
/* .follow{
    position: absolute;
    top:0%;
} */
/* table{
    display: inline-block;
    position: absolute;
    top: 100%;
} */
